.card-total {
  transition: all ease-in-out 200ms;
  background-color: white;
}
.card-total:hover {
  transform: translateY(-20px);
  background-color: rgba(1, 122, 243, 0.466);
  border-radius: 25px;
}
.image-icon {
  position: relative;
}
.image-icon svg {
  color: yellow;
  position: absolute;
  top: 2px;
  right: 2px;
}
.image-icon svg:hover {
  color: black;
}
.btn.btn-light {
  height: 40px;
  padding: 0;
  margin: 0;
}
.is-clickable {
  cursor: pointer;
}
.btn-light {
  background-color: white !important;
}
.ant-pagination a {
  margin-top: 2px !important;
}
