.card{
  width: 150px;
  height: 300px;
}
.image-icon{
  position: relative;
}
.image-icon svg{
  color: yellow;
  position: absolute;
  top: 2px;
  right: 2px;
  
}
.image-icon svg:hover{
  color: black;
}
.btn.btn-light{
  height: 40px;
  padding: 0;
  margin:0;
}
.star{
  cursor: pointer;
}
.btn-light{
  background-color: white !important;
}
.ant-pagination a{
  margin-top: 2px !important;
}