html,body{
  padding-bottom: 0px;
  background-color: rgb(243, 243, 243);
}
*{
  margin:0;
  padding: 0;
}
#__next,body{
  min-height: 100vh
}
.bg-blue{
  background-color: rgba(1, 122, 243, 0.836);
}
@import 'home.css';
@import 'sidebar.css';
@import 'card.css';
@import 'details.css'
