.sidebar{
  min-height: 100vh;
  background-color: rgb(65, 101, 138);
}
a{
  color: white;
  text-transform: uppercase;
  margin:20px;
  margin-top: 20px;
}
a:link, a:visited, a:active {
  text-decoration:none;
}